@font-face {
    font-family: Abhaya;
    src: url('../Font/Abhaya_Libre/AbhayaLibre-Regular.ttf');
}
@font-face {
    font-family: Abhaya-bold;
    src: url('../Font/Abhaya_Libre/AbhayaLibre-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Graduate;
    src: url('../Font/Graduate/Graduate-Regular.ttf');
    font-weight: bold;
}


*{
    --var-main-color: #A68261;
    --var-secondary-color: #391607;
}
a{
    text-decoration: none;
    color:black;
}
body{
    margin:0;
}
.page{
    margin:25px 25px 0 25px;
}


.title{
    font-family: 'Graduate';
    text-align: center;
}

hr.big-trait{
    border: black 1.4px solid;
}
nav,footer{
    display: flex;
}
nav>*, footer>*{
    margin-left: auto;
    margin-right: auto;
}
footer{
    background-color: var(--var-secondary-color);
    padding: 25px;
    margin-right:0px;   
    width: auto; 
}
footer>a{
    color:white;
}
a{
    text-decoration: none;
}

section{
    background-color: var(--var-main-color);
    width: min-content;
    color: #FFFFFF;
    padding: 20px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding-bottom: 15vh;
    border-radius: 0% 0% 25px 25px;
}
section>p{
    text-align: center;
}

.text{
    font-family: 'Abhaya';
}

section>.center-part{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 0px;
}


#subjectInfo{
    display: flex;
}
#subjectInfo>span{
    font-family: 'Abhaya-bold';
}
#subjectInfo>span:last-child{
    margin-left: auto;
}

.img{
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0,.4);
}
.img,.img>a>img{
    display: block;
    width:350px;
    height:230px;
}


.img-text{
    background-color: var(--var-secondary-color);
    font-family: 'Graduate';
    display: flex;  
    justify-content: center;
    align-items: center;
}

.img-text>p{
    text-align: center;
}

.img.left{
    position: relative;
    left: -75px;
}
.img.right{
    position: relative;
    left: 50px;
}

.colored-link{
    color:var(--var-main-color);
}


@media screen and (max-width: 880px) {
    section>.center-part{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "up"
        "down";
        gap: 50px 0px;
    }
    .img,.img>a>img{
        max-height:230px;
        width: auto;
    }
    .img.img-part{
        position: initial;
        grid-area: "up";
    }
    .img.img-text{
        position: initial;
        grid-area: "down";
        display: flex;  


    }
    

}


@media screen and (max-width: 400px) {

    section{
        background-color: var(--var-main-color);
        width: min-content;
        padding: 10px;
        min-height: 100vh;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        padding-bottom: 15vh;
        border-radius: 0% 0% 25px 25px;
    }
    .img,.img>a>img{
        display: block;
        width:175px;
        height:115px;
    }

    section>.center-part{
        gap: 25px 0px;
    }

    h1{
        font-size: 15px;
    }
    h2{
        font-size: 12px;
    }
    a{
        font-size: 10px;
        
    }
    #subjectInfo>span,p{
        font-size: 8px;
    }

}
